.brand-logo {
  color: black !important
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  transition: background 0.6s linear;
}

header {
  position: relative;
  width: 100%;
  min-height: 882px;
}

.section {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

@media screen and (max-width:600px) {
  header {
    min-height: 500px;
  }
  .trigger-checkbox {
    right: 90px;
  }
  .arrow {
    visibility: hidden;
  }
  .slider .slides li .caption {
    position: absolute;
    top: 42%;
    left: 10%;
    width: 80%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #divpong {
    visibility: hidden;
  }
}

@media screen and (min-width:600px) {
  .trigger-checkbox {
    right: 35px;
  }
  .slider .slides li .caption {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 70%;
    font-size: 4rem;
  }
}

/*nav*/

nav {
  position: relative;
  z-index: 2;
  height: 64px;
  background-color: transparent;
  box-shadow: none;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

.tabs .indicator {
  background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}

#footer-links a {
  margin: 0.5rem;
}

.chart-container {
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
}

#side-nav-icons-container {
  display: flex;
  padding: 0 32px;
}

#side-nav-icons-container h4 {
  padding: 0.9rem;
}

/*about-me*/

.section-about .row {
  margin-top: 20px;
}

.section-about .card {
  overflow: hidden;
  border-radius: 15px;
}

.section-about .card-image {
  position: relative;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-about .card-image:hover {
  opacity: 0.9;
}

.card .card-title {
  top: 40%;
  left: 0;
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
  text-shadow: 2px 2px 10px #363636;
  text-align: right;
}

/*parallax-skill*/

.carousel .row {
  max-height: 150px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.carousel .row .col.s2 {
  max-width: 101px;
  margin-left: unset;
}

.carousel.carousel-slider .carousel-item {
  min-height: unset;
}

.valign-wrapper {
  flex-direction: column;
  align-items: unset;
  justify-content: center;
}

.parallax-container {
  max-height: 300px;
}

.section-skills .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 68, 68, 0.6)
}

.section-skills .carousel {
  height: 300px !important;
}

.carousel-logo {
  margin: 0 1em;
  border-radius: 15px;
  opacity: 0.8;
}

.carousel-logo:hover {
  opacity: 0.4;
  transition: opacity .2s linear;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  position: absolute;
  padding: 5px 5px;
  top: 100%;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .7);
  border-radius: 10px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.carousel.carousel-slider .carousel-item {
  min-height: unset;
}

/*------*/

/*recent project*/

.project_title {
  display: flex;
  align-content: center;
  justify-content: left;
}

.project_content {
  text-align: left;
}

.project_content li {
  margin: 2rem 0rem;
}

.Project {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

.slider_title {
  display: flex;
  flex-wrap: wrap;
}

.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.circle {
  object-fit: cover;
}

.slider .slides {
  background-color: #fff;
  margin: 0;
  transition: background 0.6s linear
}

.i_keboard_arrow_down {
  font-size: 100px;
  color: #0c0a09
}

.keboard_arrow_down {
  display: flex;
  margin: auto;
}

.color_blue {
  color: #00e6f6
}

.arrow {
  position: absolute;
  bottom: 6%;
  left: 45%;
  z-index: 3;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  /* transition:background 2.0s linear; */
}

video {
  width: 100%;
  margin: 5rem 1rem;
}

#divpong, #divpong::after {
  font-family: 'PT Sans', sans-serif;
  width: 380px;
  height: 86px;
  font-size: 36px;
  background: linear-gradient(45deg, transparent 5%, #0c0a0a 5%);
  border: 0;
  color: white;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  margin: 1rem 23rem;
}

#divpong::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(80% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Contact with Me";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #0c0a0a 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
  transform: translate(-20px, -10px);
  margin: 0 0;
}

#divpong:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px)
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px)
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px)
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px)
  }
  40% {
    clip-path: var(--slice-1);
    transform: translate(0px, 5px)
  }
  50% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px)
  }
  60% {
    clip-path: var(--slice-2);
    transform: translate(10px, 10px)
  }
  70% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px)
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px)
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px)
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0)
  }
}

* {
  box-sizing: border-box;
}

.label {
  /* align-items:center;
  justify-content:space-between; */
  width: 54px;
  display: flex;
  height: 30px;
  border-radius: 50px;
  margin-top: 13px;
  padding: 3px;
  background-color: #111;
  position: relative;
  z-index: 1;
}

.btn-toggle {
  display: flex
}

.ball {
  width: 26px;
  background-color: #fff;
  height: 26px;
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear
}

.btn-toggle:checked+.label .ball {
  transform: translateX(24px)
}

.fa-moon {
  color: #f1c40f;
  margin-right: 1px;
  font-weight: 100;
}

.fa-sun {
  color: #f39c12;
}

.trigger-checkbox {
  position: fixed;
}

.sidenav-trigger {
  margin: 0rem 10rem;
}

.navbar-name li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  margin: 0px 1vw;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-name li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}